  section(id="dCommentContainer")
-   var commentCount = 0; 
-   for(var comment in comments) {
-       commentCount++; 
    article(class="dCommentBlock")
      h2= comments[comment].title
      aside= comments[comment].date
      span= comments[comment].name
      p= comments[comment].text
- };

  section(id="bwCommentContainer")
    article(class="bwCommentBlock")
        h2 Comment Title
        p This is comment text. This is comment text. This is comment text. This is comment text. This is comment text. This is comment text. This is comment text. This is comment text. This is comment text. This is comment text. This is comment text. This is comment text. This is comment text. This is comment text.
        button Report Spam