
    form(action="/", method="POST")
        input(type="text" name="title" placeholder="  Title" autofocus)
        input(type="hidden" name="date") 
        textarea(name="comment" placeholder=" Your Comment")
