doctype 5
html(lang="en")
  head
    title Bishenwall
    link(rel='stylesheet', href='css/screen.css')
    link(rel='icon', type='image/x-icon', href='images/favicon.ico')
    link(href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Roboto+Condensed', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js')
    script(type='text/javascript', src='front-end-scripts/bishenwall-utility.js')
    meta(name='description', content='A safe place where we can all share our personal low lights.')

body
  header
    div(class="bwMainBlurb")
        ol
            h2 How to Use the Bishenwall
            li
                h3 Complain
            li
                h3 Realize other people have problems
            li
                h3 Feel better
        span
            button(name="Comment") Post Comment
            label(for="Comment") strictly anonymous
    div(class="bwLogo")
    a(href="", class="bwSuggestionsPrompt") Questions or Suggestions

    form(action="/", method="POST")
        input(type="text" name="comment[title]" maxlength="100" placeholder="  Title" autofocus)
        input(type="hidden" name="date") 
        textarea(name="comment[text]" placeholder=" Your Comment" maxlength="3000")
        button(class="bwCommentButton", type="submit", value="Submit") Post

a(href="privacy-policy", class="bwPrivacyPolicy") Privacy Policy