/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*****SASS VARIABLES******/
/*****RESETS******/
/* line 17, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 27, screen.scss */
html, body, div, span, object, iframe,
h1, h2, h3, p, blockquote, pre, del,
dfn, em, img, small, strong, sub, sup,
var, b, i, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section,
summary, time, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 40, screen.scss */
body {
  line-height: 1.5;
  background-color: #eff7f2;
}

/* line 46, screen.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 50, screen.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 57, screen.scss */
input, select {
  vertical-align: middle;
}

/******STYLING******/
/* line 63, screen.scss */
h1, h2, h3 {
  font-family: 'Rokkitt', serif;
  color: #00682b;
  text-shadow: 1px 0px 0 white, 0px 1px 0 white;
  font-size: 1.25em;
}

/* line 72, screen.scss */
p, label, a {
  font-family: 'Roboto Condensed', sans-serif;
}

/* line 76, screen.scss */
a {
  text-decoration: none;
  color: #00682b;
  color: rgba(68, 131, 94, 0.7);
}

/* line 80, screen.scss */
a:hover {
  color: #000201;
  color: #44835e;
}

/* This redundancy in placeholder selectors is sadly necessary. */
/* line 86, screen.scss */
::-webkit-input-placeholder {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: .06em;
}

/* line 91, screen.scss */
:-moz-placeholder {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: .06em;
}

/* line 96, screen.scss */
::-moz-placeholder {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: .06em;
}

/* line 101, screen.scss */
:-ms-input-placeholder {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: .06em;
}

/* line 106, screen.scss */
header {
  width: 100%;
  background-color: #ddf7ea;
  height: 7.05em;
  box-shadow: 0 0 1px 1px rgba(0, 104, 43, 0.3);
}

/* line 111, screen.scss */
.bwMainBlurb {
  width: 36%;
  float: left;
  position: relative;
  background-color: #6fdba5;
  margin: 0;
  padding: 0.5% 0 1% 1%;
  border-radius: 0 0 165px 0;
}

/* line 119, screen.scss */
.bwMainBlurb {
  display: inline-block;
}

/* line 121, screen.scss */
header h2 {
  font-size: 1.5em;
}

/* line 123, screen.scss */
header ol li {
  margin: 1.5% 0 0 7%;
  font-size: 1.2em;
}

/* line 126, screen.scss */
header span {
  float: left;
  position: relative;
  margin: 0.3% 0 0 4%;
  width: 100%;
}

/* line 131, screen.scss */
header span button {
  border-bottom: 2px solid #999;
  border-right: 2px solid #ccc;
  cursor: pointer;
  padding: 3% 5%;
  letter-spacing: .03em;
  background-color: #fff;
  outline: none;
  font-family: 'Rokkitt', serif;
  font-size: 1.2em;
}

/* line 141, screen.scss */
header span button:hover {
  background-image: -ms-linear-gradient(top, white 40%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, white 40%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, white 40%, #eeeeee 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.4, white), color-stop(1, #eeeeee));
  background-image: -webkit-linear-gradient(top, white 40%, #eeeeee 100%);
  background-image: linear-gradient(to bottom, #ffffff 40%, #eeeeee 100%);
}

/* line 148, screen.scss */
header span button:active {
  border-bottom: 2px solid #777;
  border-right: 2px solid #777;
}

/* line 151, screen.scss */
header span label {
  color: #008236;
}

/* line 153, screen.scss */
.bwLogo {
  display: block;
  position: relative;
  top: 0.45em;
  margin: 0 auto;
  padding: 2.5%;
  border-radius: 50%;
  width: 6em;
  height: 6em;
  background: url("../images/bishenwall-logo.png") 47% 50% #fffedb;
  box-shadow: inset 1px 0px 0px #eeeeee, inset -1px 0px 0px #eeeeee, inset 0px 1px 0px #eeeeee, inset 0px -1px 0px #eeeeee, 0px 0px 1.5em #ffd600;
}

/* line 168, screen.scss */
.bwSuggestionsPrompt {
  float: right;
  margin: 2.5% 2% 0 0;
}

/* line 175, screen.scss */
.bwContentContainer {
  width: 100%;
  display: block;
  margin: 0 0 0 0;
  float: left;
}

/* line 180, screen.scss */
.bwTextBlock {
  width: 45%;
  margin: 1% 27.5%;
  display: inline-block;
}

/* line 184, screen.scss */
.bwTextBlock h1 {
  font-size: 2em;
}

/* line 186, screen.scss */
.bwTextBlock h2 {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: .03em;
  color: #2eb672;
  text-shadow: 0 0 0 #fff;
  font-size: 1.5em;
}

/* line 192, screen.scss */
.bwTextBlock aside {
  opacity: .3;
  display: inline;
}

/* line 195, screen.scss */
.bwTextBlock button {
  border-radius: 4px;
  outline: 0;
  padding: 0.3% 0.7%;
  cursor: pointer;
  margin-top: 3%;
  display: block;
  float: right;
}

/* line 203, screen.scss */
#bwReplyButton, #bwSaveReply {
  background: #2eb672;
  color: #fff;
  padding: 0.3% 2.5%;
  margin-right: 3%;
}

/* line 208, screen.scss */
#bwSpamButton, #bwCancelReply {
  opacity: .5;
  background: #eff7f2;
}

/* line 211, screen.scss */
#bwSpamButton:hover, #bwCancelReply:hover {
  opacity: 1;
  background-color: #fff;
}

/* line 214, screen.scss */
.bwTextBlock:after {
  content: '';
  width: 30em;
  height: 25px;
  display: block;
  margin: 2.5% auto 0% auto;
  border-bottom: 1px solid #CCCCCC;
  border-radius: 0 0 20px 20px / 0 0 1px 1px;
}

/* line 222, screen.scss */
.bwReplyBlock {
  width: 80%;
  margin: 8% 0 1% 20%;
}

/* line 227, screen.scss */
.bwPrivacyPolicy {
  position: fixed;
  bottom: 1%;
  right: 2%;
}

/* line 233, screen.scss */
input, textarea {
  outline: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  border: solid 1px #E5E5E5;
}

/* line 238, screen.scss */
input {
  background-image: -ms-linear-gradient(top, #eeeeee 0%, white 10%);
  background-image: -moz-linear-gradient(top, #eeeeee 0%, white 10%);
  background-image: -o-linear-gradient(top, #eeeeee 0%, white 10%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeeeee), color-stop(0.1, white));
  background-image: -webkit-linear-gradient(top, #eeeeee 0%, white 10%);
  background-image: linear-gradient(to bottom, #eeeeee 0%, #ffffff 10%);
}

/* line 246, screen.scss */
textarea {
  height: 7em;
  background-image: -ms-linear-gradient(top, #eeeeee 0%, white 5%);
  background-image: -moz-linear-gradient(top, #eeeeee 0%, white 5%);
  background-image: -o-linear-gradient(top, #eeeeee 0%, white 5%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeeeee), color-stop(0.05, white));
  background-image: -webkit-linear-gradient(top, #eeeeee 0%, white 5%);
  background-image: linear-gradient(to bottom, #eeeeee 0%, #ffffff 5%);
}

/* line 254, screen.scss */
input:focus, input:hover, textarea:focus, textarea:hover {
  box-shadow: 0 0 1px 1px #6fdba5;
}

/* line 257, screen.scss */
.bwMainForm {
  width: 50%;
  margin: 2% 25%;
}

/* line 260, screen.scss */
.bwMainForm input, .bwMainForm textarea {
  width: 60%;
  margin: 1.5% 1% 1.5% 20%;
}

/* line 264, screen.scss */
.bwReplyForm {
  width: 70%;
  margin: 5% 15% 0 15%;
  display: inline-block;
}

/* line 268, screen.scss */
.bwReplyForm input, .bwReplyForm textarea {
  width: 100%;
  margin: 1.2% 0;
}

/* line 271, screen.scss */
.bwReplyForm button {
  float: left;
  margin: 0 0 0 2%;
}

/* line 275, screen.scss */
.bwCommentButton {
  padding: 1% 3%;
  min-width: 5em;
  margin: 1% 1% 0% 20%;
  cursor: pointer;
}
